# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#!*.so 		#override exclusion in ~/.gitignore_global
*.dylib  

# Compiled Static libraries
*.lai
*.la
*.a

# backups
*~

# built stuff
*build/
*bin/

# Python
*.pyc

# closed-source
#*underDevelopment/
#*old/
*closed-source/


# documentation (maybe uncomment this later)
*html/
*latex/
*.dox
*.html

# SVN
*.svn/

/CMakeLists.txt
/in_hand_manipulation/
/trac_ik/
/urlg_msgs/
/urlg_robot_control/
/urlg_robots_gazebo/
/urlg_robots_ik_solvers/
